
<form method="POST" action="/users/{{userId}}/locations/{{locationId}}?_method=PUT">
    <input type="text" name="business_name" value="{{locationToEdit.business_name}}">
    <input type="submit">
</form>
